<table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;max-width: 600px !important;">
    <tbody>
        <tr>
            <td valign="top" id="templateHeader" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;padding-top: 9px;padding-bottom: 0;text-align: center;">
                <img align="center" alt="" src="http://trendcongresso.com.br/assets/images/logo_azul.png" width="400" style="max-width: 300px; max-height: 80px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage">
            </td>
        </tr>
        <tr>
            <td valign="top" id="templateHeader" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FFFFFF;border-top: 0;border-bottom: 0;padding-top: 9px;padding-bottom: 0;text-align: center;">
                <h1 style="display: block;margin: 0;padding-top: 10px;color: #202020;font-family: Roboto;font-size: 2em;font-style: normal;font-weight: bold;line-height: 125%;letter-spacing: normal;text-align: center;">
                    <span style="color:#333333">Ainda dá tempo!</span>
                </h1>
                <br/>
                <a href="http://trendcongresso.com.br/new/" style="margin-bottom: 30px;height: 34px;line-height: 36px;outline: 0;padding: 0 2rem;text-transform: uppercase;border-radius: 2px;text-decoration: none;color: #fff;text-align: center;letter-spacing: .5px;user-select: none; -webkit-tap-highlight-color: transparent; vertical-align: middle; z-index: 1;will-change: opacity, transform;background-color: #004e83;position: relative;cursor: pointer;display: inline-block;overflow: hidden;">
                    Finalizar Cadastro
                </a>
                <br/>
                <p style="font-size: 1.1em;font-weight: 300;margin: 0;padding: 0 20px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #202020;font-family: Roboto;line-height: 150%;text-align: left;">
                    <span style="color:#333333">
                        Olá, {name}. Tudo bem? 
                        <br/>
                        <br/>
                        Você ainda não <b>finalizou o cadastro do seu evento</b>. 
                        <br/>
                        <br/>
                        Gerencie seu evento da forma mais simples e comôda com nossa plataforma.
                        <br/>
                        Seu evento ficará muito mais simples, dinâmico e eficiente!
                    </span>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top" id="templateFooter" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #FAFAFA;border-top: 0;border-bottom: 0;padding-top: 9px;padding-bottom: 9px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody class="mcnTextBlockOuter">
                        <tr>
                            <td valign="top" class="mcnTextBlockInner" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%; width: 70%; text-align: center;">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="197" class="mcnTextContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" class="mcnTextContent" style="padding: 9px 0px 9px 60px;font-size: 10px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;word-break: break-word;color: #656565;font-family: Helvetica;line-height: 150%;text-align: center;">
                                                <div style="text-align: center;">E-mail enviado por:<br>
                                                    TREND<b>SOFT</b><br/>
                                                    Rua Itabira, 1371 - Sala 104<br/>
                                                    Pato Branco - PR
                                                    contato@trendsoft.co
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="top" id="templateHeader" style="mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border-top: 0;border-bottom: 0;padding-bottom: 0; width: 30%;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <tbody class="mcnImageBlockOuter">
                                        <tr>
                                            <td valign="top" style="padding: 9px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;" class="mcnImageBlockInner">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width: 100%;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="mcnImageContent" valign="top" style="padding-right: 9px;padding-left: 9px;padding-top: 10px;padding-bottom: 0;text-align: center;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                                                <img align="center" alt="" src="http://trendcongresso.com.br/assets/images/logo_azul.png" width="300" style="max-width: 200px; max-height: 60px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" class="mcnImage">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>