@media print {
    header, footer, hr {
        display: none !important;
    }
    @page {
        margin: 0;
        size: A4;
    }
    body {
        font: 10pt "Open Sans", Times, serif;
        line-height: 1.3;
        margin-top: 0.5cm;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    br {
        display: none;
    }
}