/* Custom Stylesheet */
/**
 *
 * Made By JANDERSON
 */

/**
* General Rules
**/
@font-face {
    font-family: "Whitney";
    src: url('../font/Whitney/Normal/Whitney-Light.otf') format('woff'), url('../font/Whitney/Normal/Whitney-Light.otf')  format('truetype'); /*URL to font*/
}
hr {
    margin: 3px 0;
}
.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body {
    font-family: "Whitney";
    position: relative;
    min-height: 98.7%;
    background-color: #F6F6F6;
    transition: background-color .5s;
}
.cursor-pointer {
    cursor: pointer;
}
.form-control.error {
    border-color: #b20000;
    font-size: 1em !important;
}
.with-errors, .error {
    color: #b20000;
    font-size: 0.9em;
}
form{
    margin: 0;
}
.lead-sm {
    font-size: small !important;
    font-weight: 300 !important;
}
.lead {
    font-size: medium !important;
    font-weight: 300 !important;
}
.lead-md {
    font-size: large !important;
    font-weight: 300 !important;
}
.lead-lg {
    font-size: x-large !important;
    font-weight: 300 !important;
}
.list-group-item.active {
    z-index: -1 !important;
}
.hideMe {
    display: none;
}
.hide {
    display: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}
.fileUpload input {
    display: none;
}
tr.render-trigger {
    cursor: pointer;
}
tr.render-trigger:hover {
    background-color: #F6F6F6;
}
/**
* Style Top Menu
**/

.badge {
    display: inline-block;
    padding: 8px 10px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.badge-default {
    background-color: #8f9599 !important;
}
.badge-primary {
    background-color: #3795e5 !important;
}
.badge-success {
    background-color: #6fd36f !important;
}
.badge-info {
    background-color: #79c8df !important;
}
.badge-warning {
    background-color: #eab56b !important;
}
.badge-danger {
    background-color: #d9726f !important;
}

/* Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) and (max-width: 767px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1299px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1300px) and (max-width: 1399px) {
}

/* E-Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* E-Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1600px) {
}