/* COLORPICKER 3 EXAMPLE */
#colorPicker3
{
    width:          30px;
    /*height:         30px;*/
    position: relative;
    clear: both;
}

#colorPicker3 .track {
    background:     #EFEFEF url(../images/text-color.png) no-repeat 50% 50%;
    width:          150px;
    cursor:         crosshair;
    display:        none;
    border:         1px solid #ccc;
    z-index:        10;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    margin: 0 auto 0 auto;
    margin-top: -155px !important;

}

#colorPicker3 .color {
    width:          30px;
    height:         30px;
    display:        block;
    position:       relative;
    z-index:        11;
    background-color: #EFEFEF;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    cursor: pointer;
    margin: 65px auto;
}

#colorPicker3 .colorInner {
    width:          30px;
    height:         30px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
}

#colorPicker3 .dropdown {
    list-style: none;
    display: none;
    width: 32px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

#colorPicker3 .dropdown li{
    height: 30px;
    cursor: pointer;
}
